<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editMode ? 'Edit Product' : 'Add Product'" subheader="Add or edit categories">
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="toolbar-group-left"></div>
          <div class="toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode ? 'Update' : 'Add'"
              icon="pi pi-plus"
              (click)="onSubmit()"
              >
            </p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              (click)="onCancel()"
              >
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="formgrid grid">
              <div class="field col-6">
                  <label for="name">Name</label>
                  <input formControlName="name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                  <small *ngIf="form.controls.name.invalid && isSubmitted" class="p-error">Name is required!</small>
                </div>
                <div class="field col-3">
                    <label for="price">Price</label><br />
                    <p-inputNumber formControlName="price" mode="decimal" inputId="prices"></p-inputNumber>
                    <small *ngIf="form.controls.price.invalid && isSubmitted" class="p-error">Price is required!</small>
                </div>
                <div class="field col-3">
                    <label for="price">In stock</label><br />
                    <p-inputNumber formControlName="countInStock" mode="decimal" inputId="prices"></p-inputNumber>
                    <small *ngIf="form.controls.countInStock.invalid && isSubmitted" class="p-error">countInStock is required!</small>
                </div>
              </div>
              <div class="formgrid grid">
              <div class="field col">
                  <label for="icon">Description</label>
                  <textarea pInputTextarea formControlName="description" id="description" type="text" [rows]="7" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                  <small *ngIf="form.controls.description.invalid && isSubmitted" class="p-error">Description is required!</small>
              </div>
              <div class="field col">
                  <label for="icon">Category</label>
                  <p-dropdown [options]="categories" formControlName="category" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Category" optionLabel="name" optionValue="id"></p-dropdown>
                  <small *ngIf="form.controls.category.invalid && isSubmitted" class="p-error">Category is required!</small>
              </div>
              <div class="field col">
                  <label for="icon">is Featured</label>
                  <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
              </div>
            </div>
            <div class="field col">
                <label for="name">Main Image</label>
                <input type="file" class="p-inputtext ml-3" accept="image/*"  (change)="onImageUpload($event)" />
                <div class="col-2 mt-2">
                  <img style="width: 100%;" [src]="imageDisplay" alt="">
                </div>
            </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
